.obsidian/workspace.json
C:\1_SSR\Data_Science\Data_Science_Notes__GITHUB\Docker\Docker_Compose\.venv
C:\1_SSR\Data_Science\Data_Science_Notes__GITHUB\Docker\Docker_Compose\docker-compose-without-build.yml